
label{
    font-size: .9rem;
    padding-bottom: .2rem;
    color: var(--color-gray-dark);
}
.navbar-toggler{
    border-color: var(--color-white) !important;
    background-color: var(--color-white) !important;
    font-size: 1rem;
}
.modal .modal-body ,.modal .modal-header,.modal .modal-footer{
    background-color: var(--bg-color-first);
}
.card{
    background-color: var(--bg-color-cards);
    border: none;
}

.courses .card-course:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.courses .card-course .card-img-top{
    height: 10rem;
    object-fit: cover;
}


.card-description{
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-title-course{
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* =============================== Courses =============================== */
.courses-tabs .nav-link{
    background-color: var(--bg-color-cards) !important;
    border: none !important;
    border-radius: 1rem !important;
    color: var(--bg-color-main) !important;
    font-weight: bold !important;
    padding-inline: 1.5rem !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.courses-tabs .nav-link:hover{
    background-color: var(--color-primary) !important;
    color: var(--color-on-primary) !important;
}
.courses-tabs .nav-link.active{
    background-color: var(--color-primary) !important;
    color: var(--color-on-primary) !important;
}
/* ===================== Side bar ===================== */
.sidebar {
  width: 250px;
  transition: width 0.3s ease;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar .nav-link {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.sidebar .nav-link:hover ,.sidebar .nav-link.active {
  background-color: var(--bg-color-main) !important;
  color: var(--color-on-primary) !important;
}

.sidebar .nav-link i {
  font-size: 1.2rem;
  width: 40px;
  text-align: center;
}

.sidebar .nav-link span {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link span {
  display: none;
}

.main-content {
  margin-right: 250px;
  transition: margin-right 0.3s ease;
  padding: 20px;
  min-height: 100vh;
}

.sidebar.collapsed ~ .main-content {
  margin-right: 80px;
}
.sidebar.collapsed + #toggleSidebar .sidebar-text {
  display: none;
}

.theme-switch {
    position: relative;
    width: 100px;
    height: 45px;
}

.theme-switch input {
    display: none;
}

.switch-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-secondary);
    border-radius: 50px;
    padding: 5px 3px;
    cursor: pointer;
    position: relative;
}

.switch-label .icon {
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 9;
    color: var(--bg-color-main);
}

.switch-label::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 9px;
    width: 36px;
    height: 36px;
    background: var(--color-primary); /* Light blue for active */
    border-radius: 50%;
    transition: all 0.3s ease;
}

input:checked + .switch-label::after {
    left: 55px; /* Move to moon side */
}
.custom-badge {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 50px;
    padding: 5px 15px 5px 5px;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-main); /* Semi-transparent circle */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* ===================== Dashboard ================== */

.bg-badge{
    background-color: var(--bg-color-primary);
    border-radius: 4px;
    padding: .5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bg-badge .icon{
    font-size: 1.5rem;
}

.progress-card {
  background: var(--bg-color-cards);
  border: 4px solid #e7b007; /* yellow border */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
  position: relative;
}

.progress-content {
  padding: 50px 20px;
}

.progress-content h3 {
  color: #333;
  margin-bottom: 10px;
}

.progress-value {
  font-size: 24px;
  font-weight: bold;
  color: #8b5e00;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 14px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-fill {
  height: 100%;
  background-color: #e7b007;
  width: 0%; /* dynamic */
  border-radius: 10px;
  transition: width 0.5s ease;
}

.progress-description {
  color: #b59a7e;
  font-size: 14px;
  line-height: 1.6;
}

/*  ================ profile ====================== */

.card-profile{
    background-color: var(--bg-color-cards);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-profile .card-body{
    text-align: center;
}
.card-profile .card-body .nav-link {
    color: var(--bg-color-main) !important;
    background: var(--bg-color-first);
    border-radius: .5rem;
    margin: .2rem 0;
}
.card-profile .card-body .nav-link:hover, .card-profile .card-body .nav-link.active {
    font-weight: bold;
    background-color: var(--color-primary) !important;
    color: var(--color-on-primary) !important;  
}
.tabs-profile .card .card-body .card-title{
    font-size: 1.2rem;
    font-weight: bold;
}

/* ==================== Media screens ============== */

@media screen and (max-width: 335px) {
    .theme-switch {
        position: relative;
        width: 86px;
        height: 40px;
    }
}
@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .main-content {
        margin-right: 0;
        padding: 20px 0;
    }
    .navbar .container-fluid {
        padding: 0;
    }
}
@media screen and (max-width:992px) {
  .navbar .navbar-nav{
    height: 84vh;
    overflow: auto;
  }
}